<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
    <h1>List of cars</h1>
    <table border="1">
        <thead>
            <tr>
                <th>License plate</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <th th:text="${car.licensePlate}">License</th>
                <th th:text="${car.brand}">Brand</th>
                <th th:text="${car.name}">Name</th>
                <th th:text="${car.color}">Color</th>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Home</a>
</body>
</html>